/*CSS do título da página*/

#cabeca{
    color:#72EFDB;
    font-family: "rubik";
    font-size: 30px;
    margin-top: 30px;
}
#hbuscas{
    margin-left:10%;
    margin-bottom: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

@media(max-width: 800px){

#hbuscas{
    margin-left:0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    

}

}