*{ margin: 0; padding: 0;}  
body, h1, p {font-family: 'Rubik', Regular;}


/*--------MENU--------*/
.container {
    background-color: #0A1744;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 40;
}   
/*--------LOGOTIPO--------*/
.logo img{
    height: 20px;
    opacity: 0.72;
    margin: 20px; 
}
/*--------Botões---------*/
.menu {
    display: flex;   
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.menu a {
    display: flex;
    height: 30px;
    width: 90px;
    margin: 7px;
    border-radius: 20px;
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.menu img {
    width: 12px;
    margin: 6px;
}
.sobre, .home {
    background-color: rgba(114, 239, 219, 1);
    color: #0B1741;    
}
.login, .sair {
    background-color: rgba(30, 62, 123, 1);
    color: #FFFFFF;   
}

/*Efeito JavaScript*/
.scrolling-active {
    background: #0a1744ad;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px #5538EE1F;
    opacity: 1;
}

/*--------RODAPÉ--------*/
#rodape {
    background-color: rgba(30, 62, 123, 1);
    height: 100%; 
    width: 100%;
}
.txtRodape {
    font-size: 17px;
    text-align: center;
    padding: 50px;     
    color: white;
}

/*RESPONSIVIDADE*/  
@media (max-width: 450px) {   
    .container {
        width: 100%;
    }
    
    .txtRodape {
        font-size: 10px;
    }
}
@media (max-width: 288px) {
    .logo img{
        height: 20px;
    }    
    
    
} 